@import './variables';

input, select, textarea, button {
  border: $border;
  border-radius: $radius;
  padding: 2px 8px;
  height: 32px;
  &.w100 {
    display: block;
    width: 100%;
  }
}

textarea {
  min-height: 100px;
}

// react-datepicker
.react-datepicker-wrapper {
  width: 100%;
  input {
    width: 100%;
  }
}